@tailwind base;

/* a {
  @apply text-primary;
} */
a:hover {
  @apply text-theme-one;
}

@tailwind components;

@tailwind utilities;

/* responsive utilities must be listed again to make classes without screen size prefixes available.  This seems to be a bug, but this works for now */
@layer utilities {
  @responsive {
    .width-10rem {
      width: 10rem;
    }
    .width-15rem {
      width: 15rem;
    }
    .width-18rem {
      width: 18rem;
    }
    .width-20rem {
      width: 20rem;
    }
    .width-25rem {
      width: 25rem;
    }
    .width-30rem {
      width: 30rem;
    }
  }
}

.width-10rem {
  width: 10rem;
}
.width-15rem {
  width: 15rem;
}
.width-18rem {
  width: 18rem;
}
.width-20rem {
  width: 20rem;
}
.width-25rem {
  width: 25rem;
}
.width-30rem {
  width: 30rem;
}

.font-body {
  letter-spacing: 0.02em;
}

/* --------------------------- 404 Robot -------------- */
.st0 {
  fill: theme('colors.theme.white');
}
.st1 {
  fill: theme('colors.theme.black');
}
.st2 {
  fill: theme('colors.theme.white');
  stroke: theme('colors.theme.black');
  stroke-width: 3;
  stroke-miterlimit: 10;
}
.st3 {
  opacity: 0.4;
  fill: #666666;
}
.st4 {
  opacity: 0.5;
  fill: #666666;
}
.st5 {
  fill: theme('colors.theme.black');
  stroke: theme('colors.theme.black');
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.st6 {
  opacity: 0.38;
  fill: #666666;
}
.st7 {
  fill: #666666;
}
.st8 {
  opacity: 0.48;
  fill: #666666;
}
.st9 {
  opacity: 0.47;
  fill: #666666;
}
.st10 {
  opacity: 0.46;
  fill: #666666;
}
.st11 {
  fill: theme('colors.theme.white');
}
.st12 {
  opacity: 0.41;
  fill: #666666;
}
.st13 {
  fill: theme('colors.theme.white');
  stroke: theme('colors.theme.black');
  stroke-width: 2;
  stroke-miterlimit: 10;
}
/* --------------------------- 404 Robot -------------- */

/* --------------------------- <hr/> -------------- */
hr:not([class]) {
  width: 100%;
  height: 2px;
  position: relative;
  max-width: 300px;
  background-color: theme('colors.theme.two');
  border: 0;
  margin: 3.63636rem auto !important;
}

hr:not([class]):before {
  top: 50%;
  left: 50%;
  position: absolute;
  width: 10px;
  height: 10px;
  content: ' ';
  background-color: theme('colors.theme.one');
  border: 2px solid theme('colors.theme.white');
  box-shadow: 0 0 0 6px theme('colors.theme.white');
  transition: background-color 500ms linear, box-shadow 500ms linear;
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(45deg);
  transform: translate3d(-50%, -50%, 0) rotate(45deg);
}
@screen md {
  hr:not([class]) {
    max-width: 600px;
  }
  hr:not([class]):before {
    width: 13px;
    height: 13px;
  }
}
/* --------------------------- <hr/> -------------- */

/* --------------------------- Scroll Bar -------------- */
/* The emerging W3C standard
   that is currently Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: theme('colors.theme.two') theme('colors.theme.one');
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: theme('colors.theme.one');
}

*::-webkit-scrollbar-thumb {
  background-color: theme('colors.theme.two');
  border-radius: 0px;
  border-top: 1px solid #c7ced6;
  border-left: 1px solid #c7ced6;
  border-right: 1px solid #7c8187;
  border-bottom: 1px solid #7c8187;
}
/* --------------------------- Scroll Bar -------------- */

::selection {
  background: theme('colors.theme.one');
  color: theme('colors.theme.white');
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  color: theme('colors.theme.white');
  background: theme('colors.theme.one');
  /* Gecko Browsers */
}
